@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: 'Roboto';
 }

   .navbar {
      display: flex;
      background-color: #1F2937;
   }

   .navbar-left,.navbar-right{
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #1F2937;
   color: #fff;
   width: 50%;
   }
   
   .navbar-right {
   color: #fff;
   list-style: none;
   padding: 0;
   margin: o; }

   .navbar-right a{
   text-decoration: none;
   color: #fff;
   }

   .navbar-left {
      font-size: 24px;
      color: #f9f8fa;
   }
   
   .menu {
   display: flex;
   gap: 1em;
   font-size: 18px;
   }
     
   .menu li {
   padding: 5px 14px;
   }

   .header {
      display: flex;
      color: #fff;
      background-color: #1F2937;
      justify-content: center;
      flex-direction: row;
      align-items: center;
      flex: 1 1 auto;
      border: #fff;
      height: 400px;
   }
  
   h1 {
      font-size: 48px;
      font-weight: bolder;
      color: #f9f8fa;
   }
   p {
      font-size: 18px;
   }

   .sign-button {
      font-size: 24px;
      background-color: #3882f6;
      color: #fff;
      border-radius: 12px;
      padding: 10px 15px;
      text-align: center;
      text-decoration: none;
   }

  .content-left,.content-right {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 50%;
   }

   .content-left {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-left: 20%;
      margin-right: -22.5%;
   }

  .main-image {
      object-fit: cover;
      flex: 1 1 auto;
      max-width: 300px;
      border: 15px solid burlywood;
      border-radius: 50%;
      box-shadow: 2px 2px 3px;
  }
  .section-two {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   color: #1F2937;
   height: 400px; 

  }
   h2 {
      color: #1F2937;
      font-size: 36px;
      font-weight: bolder;
      margin-top: 2%;
      text-align: center;
   }

   .container {
      display: flex;
      justify-content: center;
      flex-flow: row wrap;
      
   }
    
   .group {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 300px;
      padding: 24px;  
      color: white;
   }
    
   .box {
      width: 180px;
      height: 180px;
      border: 5px solid #3882f6;
      border-radius: 32px;
   
   }
    
   .text { 
      color: #1F2937; 
      text-align: center;
      flex-wrap: wrap;
      max-width: 200px;
      font-size: 18px;
      font-weight: bold;
   }
    
   .inspiring-quote{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      color: #e5e7eb;
      height: 300px;
      background-color: #E5E7EB;
   }
   .quote {
      color: #1F2937;
      font-weight: lighter;
      font-size: 36px;
      text-align: center;
      font-style: italic;
   }
   .quoter {
      display: flex;
      justify-content: flex-end;
      margin-left: 42%;
      font-weight: bolder;
      color: #1F2937;
      font-size: 24px;
   }

   .cfaction {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 300px;
   }

   .holding-box{
      display: flex;
      justify-content: space-around;
      align-items: center;
      background-color: #3882f6;
      height: 150px;
      width: 72%;
      border: 5px solid #3882f6;
      border-radius: 12px;
      
   }

   .commentary {
      display: flex;
      flex-direction: column;
   }

   .Top-text {
      font-weight: bolder;
      font-size: 24px;
   }
   
   .bottom-text {
      font-size: 18px;
      color: #e5e7eb;
   }

   .sign-button2 {
      font-size: 24px;
      background-color: #3882f6;
      color: #fff;
      border-radius: 12px;
      padding: 4px 20px;
      text-align: center;
      text-decoration: none;
      border-color: white;
   }

   .footer {
      background-color: #1F2937;
      color: #fff;
      text-align: center;
      padding-top: 25px;
      padding-bottom: 25px; 
   }